		html{
				background-color:#2980b9;
		}
		.page 			
		{
		text-align: center;
	background-color:#2980b9;
		height: 600px}
		.options{
			font-family:initial;
		}
		.question-area	
		{border: 1px solid #bdc3c7 ;
		width: 75%;margin: 5px auto 5px auto;height:50%;
		background-color: #bdc3c7;
		font-family: 'Roboto', sans-serif;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.55), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		word-spacing: 0.2em;}
		
		.left-align 	
		{text-align: left;
		width: 80%;
		margin: 2px auto 2px auto;
		padding-top:20px;
		font-size: 20px;}
		
		 .options{
			 color:red !important;
			 
		 }
		
		h1 				{font-size: 40px;}
		p 				{font-size: 18px;padding-top: 100px;}
		#next 			{background-color: #3498db;width: 90px;height:25px;font-size: 15px;color: white;margin-top: 25px;}
		#next:hover 	{background-color: #2980b9;}
		#timer 			{text-align: right;font-size: 30px;padding-right: 5px;}
		#Prev 			{background-color: #3498db;width: 90px;height:25px;font-size: 15px;color: white;margin-top: 25px;}
		
		
	